body {
  background-color: #f8f9fa; /* Set a background color for the body */
}

.weather-header {
  background: linear-gradient(to right, #007bff, #00bfff);
  color: white;
}

/* Add more styles as needed */

/* Set a maximum width for the content */
.container-fluid {
  max-width: 1400px;
}

/* Add styles for other elements and sections */

/* Style for the current weather card */
#current-weather-container {
  margin-top: 20px;
}

/* Style for the forecast card */
#forecast-container {
  margin-top: 20px;
}

 /* Add this to your CSS or in a style tag in the head section */
 .card {
  width: 18rem;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
  margin: 0;
}